extends layout

block content
  
  .container.add-article.col-sm-6
    h1 #{title}
    form(method='POST', action='/articles/edit/'+article._id)
      .form-group
        label Title:
        input.form-control(name='title', type='text', value=article.title, required)
  
      .form-group
        label Body:
        textarea.form-control(name='body', required)= article.body

        
      input.btn.btn-primary(type='submit', value='Submit')           
