
extends layout

block content
  h1 #{title}
  ul.list-group
    each article, i in articles
       div.article-container 
          li.list-group-item= article.title + ' by ' + article.author 
            p= article.body
            a(href="/articles/" + article._id)= "view this story"
         
          
