
.navbar {
  border-radius: 0px;
}

/* home articles page */

.article-container {
  margin-bottom: 20px;
}


/* single article page */

.delete-article {
margin-left: 10px;
}

/* add article page */

.add-article {
  margin: 0px auto;
  display: block;
  float: none;
}


.btn-primary {
  margin-top: 10px;
}
